This is a python 3 Jupyter notebook for the "Array of Things"

In [1]:
import pandas as pd

# Load the 'Array of things' dataset on Socrata into a DataFrame

AoT_url = "http://data.cityofchicago.org/resource/dbwu-caep.csv"
df = pd.read_csv(AoT_url)

df.shape

(46, 17)

In [2]:
df.head()

,:@computed_region_43wa_7qmu,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,category,latitude,location,location_address,location_city,location_state,location_type,location_zip,longitude,name,notes,status
0,40,22535,298,1,25,Urban Placemaking,41.912354,POINT (-87.682142 41.912354),NaN,NaN,NaN,CDOT Placemaking Project,NaN,-87.682142,Leavitt-Wabansia,NaN,Planned
1,47,21202,505,25,42,Urban Impact on Climate & Weather,41.741086,POINT (-87.540184 41.741086),NaN,NaN,NaN,Lakeshore,NaN,-87.540184,85th-LSD,NaN,Planned
2,37,22538,417,24,39,Urban Impact on Climate & Weather,41.766143,POINT (-87.566469 41.766143),NaN,NaN,NaN,Lakeshore,NaN,-87.566469,71st-SShore,NaN,Planned
3,36,14912,367,29,38,Urban Vehicle and Pedestrian Flow,41.878213,POINT (-87.627607 41.878213),NaN,NaN,NaN,Downtown and Federal Campus (GSA),NaN,-87.627607,State and Jackson,single node with PM,Planned
4,10,21194,374,40,34,Urban Impact on Climate & Weather,41.858183,POINT (-87.616203 41.858183),NaN,NaN,NaN,Lakeshore,NaN,-87.616203,18th-LSD,NaN,Planned

In [3]:
df.describe()

,:@computed_region_43wa_7qmu,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,latitude,location_address,location_city,location_state,location_zip,longitude
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,0.0,0.0,0.0,0.0,46.000000
mean,29.391304,17346.739130,334.586957,31.391304,35.239130,41.881438,NaN,NaN,NaN,NaN,-87.652254
std,12.658731,4900.255165,230.500477,15.325329,13.238303,0.045268,NaN,NaN,NaN,NaN,0.039285
min,1.000000,4449.000000,2.000000,1.000000,1.000000,41.741086,NaN,NaN,NaN,NaN,-87.725563
25%,23.000000,14311.000000,92.000000,25.750000,28.250000,41.858039,NaN,NaN,NaN,NaN,-87.684402
50%,36.000000,14920.000000,367.000000,39.000000,37.500000,41.883768,NaN,NaN,NaN,NaN,-87.651466
75%,36.750000,21454.000000,544.500000,42.750000,38.000000,41.905902,NaN,NaN,NaN,NaN,-87.627728
max,47.000000,22538.000000,784.000000,53.000000,76.000000,41.994617,NaN,NaN,NaN,NaN,-87.540184